{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section class="login py-5 border-top-1 min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-8 align-item-center">
                    <div class="border">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <h3 class="p-4" style="background-color: #FAAA80"><i class="bi bi-shop"></i> Ajoutez votre
                            établissement</h3>
                        <fieldset class="p-4">
                            <div class="row mb-4">
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.name, {
                                        "label": "Nom de l'établissement*",
                                        "required": true,
                                        "params": {
                                            "raw_label": true
                                        },
                                        "label_attr": {
                                            "class": "mb-2"
                                        }
                                    }) }}</div>
                                <div class="col-md-6">
                                    {{ form_row(form.address, {
                                        "help": "Adresse complete",
                                        "label": "Adresse*",
                                        "required": true,
                                        "attr": {
                                            "placeholder": "8 avenue Opéra Paris 75008"
                                        },
                                        "params": {
                                            "raw_label": true
                                        },
                                        "label_attr": {
                                            "class": "mb-2"
                                        }
                                    }) }}</div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.opening, {
                                        "label": "Heure d'ouverture*",
                                        "required": true,
                                        "attr": {
                                            "placeholder": "10h"
                                        },
                                        "params": {
                                            "raw_label": true
                                        },
                                        "label_attr": {
                                            "class": "mb-2"
                                        }
                                    }) }}</div>
                                <div class="col-md-6">
                                    {{ form_row(form.phoneNumber, {
                                        "help": "Exemple: 0711111111",
                                        "label": "Numéro de téléphone*",
                                        "required": true,
                                        "params": {
                                            "raw_label": true
                                        },
                                        "label_attr": {
                                            "class": "mb-2"
                                        }
                                    }) }}</div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    {{ form_row(form.service, {
                                        "label": "Service*",
                                        "required": true,
                                        "params": {
                                            "raw_label": true
                                        },
                                        "label_attr": {
                                            "class": "mb-2"
                                        },
                                        'attr': {
                                            'class': 'form-select',
                                            'required': 'required'
                                        }
                                    }) }}</div>
                                <div class="col-md-6 mb-4">
                                    {{ form_row(form.establishmentType, {
                                        "label": "Type d'établissement*",
                                        "required": true,
                                        "params": {
                                            "raw_label": true
                                        },
                                        "label_attr": {
                                            "class": "mb-2"
                                        },
                                        'attr': {
                                            'class': 'form-select',
                                            'required': 'required'
                                        }
                                    }) }}</div>
                            </div>

                            <div class="form-group">
                                {{ form_row(form.description, {
                                    "label": "Description de l'établissement",
                                    "required": true,
                                    "params": {
                                        "raw_label": true
                                    },
                                    "label_attr": {
                                        "class": "mb-2"
                                    }
                                }) }}</div>
                            <div class="d-flex justify-content-end">
                                {{ form_widget(form.submit, {
                                    'label' : 'Ajouter +',
                                    'submit': 'Ajouter',
                                    "attr": {
                                        "class": "btn btn-dark text-light font-weight-bold mt-3",
                                    }}) }}
                            </div>
                        </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}