{% extends 'base.html.twig' %}

{% block title %}Établissements {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card-establishment {
            border: none;
            transition: 0.3s;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .card-establishment:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            transform: translate3D(0, -1px, 0) scale(1.03);
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        .button-take-rdv:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            transform: translate3D(0, -1px, 0) scale(1.03);
        }

        .custom-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            /*background-color: rgba(0, 0, 0, 0.4);*/
            color: #ffffff;
            padding: 1rem; /* Ajustez la valeur de remplissage selon vos besoins */
            text-align: right; /* Pour centrer le texte horizontalement */
        }
    </style>

{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="py-1 border-bottom mb-3" style="background-color: #FAAA80">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center my-4">
                <h1 class="fw-bolder text-white">Découvrez nos établissements</h1>
                <!--<p class="lead mb-0 text-white">Homme / Femme</p>-->
            </div>
        </div>
    </header>

    <!-- Page content-->
    <div class="container mt-3">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 mb-4">
                <form class="form-inline">
                    <div class="input-group">
                        <input class="form-control form-control" type="search"
                               placeholder="Rechercher un établissement ..." aria-label="Chercher">
                        <a type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"
                           class="btn button-take-rdv text-light" style="background-color: #FAAA80">Recherche</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Filtres</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <h7><i class="bi bi-shop"></i> Type d'établissement :</h7>
                            <span id="resetSelectEstablishment" style="cursor: pointer; display: none;">
                                <i class="bi bi-x-circle"></i>
                            </span>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center mt-2 mb-4">
                            <select class="form-select form-select-sm" id="selectEstablishment"
                                    aria-label=".form-select-sm example">
                                <option selected>Choisir type établissement</option>
                                <option value="1">Barbier</option>
                                <option value="2">Massage</option>
                                <option value="3">Soin</option>
                            </select>
                        </div>
                        <hr class="my-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h7><i class="bi bi-person"></i> Genre :</h7>
                            <span id="resetSelectGender" style="cursor: pointer; display: none;">
                                <i class="bi bi-x-circle"></i>
                            </span>
                        </div>
                        <div class="d-flex flex-column mt-2 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectGenderOption1"
                                       value="option1">
                                <label class="form-check-label fw-bold" for="selectGenderOption1">
                                    <span role="button" class="badge" style="background-color: #204f7a">Homme</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectGenderOption2"
                                       value="option2">
                                <label class="form-check-label fw-bold" for="selectGenderOption2">
                                    <span role="button" class="badge" style="background-color: #832c35">Femme</span>
                                </label>
                            </div>
                        </div>
                        <hr class="my-2">
                        <h7><i class="bi bi-clock-history"></i> Ouverture :</h7>
                        <div class="d-flex flex-column mt-2 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectTimeOption1" value="option2">
                                <label class="form-check-label fw-bold" for="selectTimeOption1">
                                    <span role="button" class="badge"
                                          style="background-color: #1cbb7e">Aujourd'hui</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectTimeOption2" value="option2">
                                <label class="form-check-label fw-bold" for="selectTimeOption2">
                                    <span role="button" class="badge"
                                          style="background-color: #39a64f">Cette semaine</span>
                                </label>
                            </div>
                        </div>
                        <hr class="my-2">
                        <h7><i class="bi bi-geo-alt"></i> Lieu :</h7>
                        <div class="d-flex flex-column mb-4">
                            <div class="d-flex flex-column align-items-center text-center mt-2">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option selected>Choisir le lieu</option>
                                    <option value="1">Paris</option>
                                    <option value="2">Toulouse</option>
                                    <option value="3">Nice</option>
                                </select>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a type="submit" class="btn shadow-lg btn-dark text-light text-center text-uppercase"
                               data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Filtrer</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Fonctionnalité en cours de dev</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="row gx-lg-7 row-cols-md-3 row-cols-xl-3">
                    {% for establishment in establishments %}
                        <div class="col-md-3 mb-5">
                            <div class="card card-establishment">
                                <div class="card">
                                    <img class="card-img-top header-img hover-zoom"
                                         src="https://ocdn.eu/images/pulscms/ZDc7MDA_/b794206dde2def36af96abf3475ccacb.jpg"
                                         alt="Barbier">
                                        <div class="p-2 d-block custom-overlay text-white">
                                            <i class="bi bi-heart" style="cursor: pointer"></i>
                                        </div>
                                    <!--<div class="card-img-overlay d-flex align-items-end pb-0">
                                        <div class="p-2 d-block custom-overlay text-white">
                                            <i class="bi bi-bookmark"></i>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="card-body">
                                    <div class="row mb-1">
                                        <div class="col">
                                            <div class="badge bg-gradient rounded-pill mb-2"
                                                 style="background-color: #c5701b">
                                                {{ establishment.establishmentType.name }}
                                            </div>
                                        </div>
                                        <div class="d-flex col justify-content-end">
                                            <span id="favori-icon">
                                                <i class="bi bi-star-fill"></i> 5
                                            </span>
                                        </div>
                                    </div>

                                    <h5>{{ establishment.name }}</h5>
                                    <p class="text-secondary fs-6">Ouvert aujourd'hui</p>
                                    <h6 class="mb-3"><i class="bi bi-geo-alt-fill"
                                                        style="color: #FAAA80"></i> Paris
                                    </h6>
                                    <div class="row mt-4">
                                        <div class="col d-flex justify-content-end">
                                            <a type="submit"
                                               class="btn shadow-lg btn-dark text-light text-center text-uppercase"
                                               href="{{ path('establishment_details', {'slugestablishment': establishment.slug }) }}">
                                                Choisir →</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center colo">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('selectEstablishment').addEventListener('change', function () {
            document.getElementById('resetSelectEstablishment').style.display = 'inline-block';
        });

        document.getElementById('resetSelectEstablishment').addEventListener('click', function () {
            document.getElementById('selectEstablishment').selectedIndex = 0;
            document.getElementById('resetSelectEstablishment').style.display = 'none';
        });

        //genre
        const checkboxes = document.querySelectorAll('.form-check-input');
        const resetIcon = document.getElementById('resetSelectGender');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                resetIcon.style.display = 'inline-block';
            });
        });

        resetIcon.addEventListener('click', function () {
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
            resetIcon.style.display = 'none';
        });


        document.getElementById('selectGender').addEventListener('change', function () {
            document.getElementById('resetSelectGender').style.display = 'inline-block';
        });

        document.getElementById('resetSelectGender').addEventListener('click', function () {
            document.getElementById('resetSelectGender').selectedIndex = 0;
            document.getElementById('resetSelectGender').style.display = 'none';
        });


    </script>

{% endblock %}
