{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <body class="body-wrapper">
    <section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 align-item-center">
                    <div class="border">
                        <h3 class="p-4" style="background-color: #FAAA80">Se connecter</h3>
                        <form method="post">

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <fieldset class="p-4">
                                <input type="email" value="{{ last_username }}" name="email" placeholder="Identifiant" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
                                <input type="password" name="password" id="inputPassword" class="form-control mb-1"  autocomplete="current-password" placeholder="Mot de passe" required>
                                <div class="loggedin-forgot">
                                    <input type="checkbox" id="keep-me-logged-in">
                                    <label for="keep-me-logged-in" class="pt-1 pb-2 mb-1">Rester connecter</label>
                                </div>
                                <button type="submit" class="btn font-weight-bold mt-3" style="background-color: #FAAA80">Se connecter</button>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <a class="mt-3 d-block text-primary" href="#!">Mot de passe oublié?</a>
                                <a class="mt-3 d-inline-block text-primary" href="{{ path('app_register') }}">S'enregistrer maintenant</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>

{% endblock %}


