{% extends 'base.html.twig' %}

{% block title %}RDV détails{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container mt-4 min-vh-100">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
                <h2 class="h5 mb-3 mb-lg-0">Choisir la date et l'heure du rendez-vous</h2>

            </div>

            <form method="post"
                  action="{{ path('add_to_cart', {'id': establishment.id, 'slugservicetype': servicetype.slug, 'slugservice': servicetype.service.slug}) }}">
                <!-- Main content -->
                <div class="row">
                    <!-- Right side -->
                    <div class="col-lg-4">
                        <!-- Status -->
                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6" style="background-color: #FAAA80"> </i>
                                Date<i
                                        class="bi bi-calendar4-week float-end"></i></div>
                            <div class="card-body">
                                <div id="carouselExampleControls" class="carousel slide">
                                    <div class="carousel-inner">
                                        {% for chunk in dateOfYear|batch(5) %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                <div class="d-flex flex-column align-items-center">
                                                    {% for date in chunk %}
                                                        <div class="d-grid gap-2 col-6 mx-auto">
                                                            <label class="btn btn-block mb-2" style="background-color: #f5d0bb">
                                                                <input type="radio" name="rdvDate"
                                                                       value="{{ date|date('l d F') }}"
                                                                >
                                                                {{ date|date('l d F')|format_datetime('full', 'none', locale='en')|capitalize }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon btn btn-secondary"
                                              aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon btn btn-secondary"
                                              aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Notification settings -->
                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6" style="background-color: #FAAA80">Horaire
                                <i
                                        class="bi bi-clock float-end"></i></div>
                            <div class="card-body">
                                <div class="row row-cols-xl-3 justify-content-center">
                                    {% for s in timeopen %}
                                        {% for i in 0..22 %}
                                            {% if i >= (s.time) %}
                                                <div class="col-6"> {# Ajoutez la classe col-6 ici pour créer deux colonnes #}
                                                    <label class="btn btn-block mb-2" style="background-color: #f5d0bb">
                                                        <input class="mb-3" type="radio" id="time" name="rdvTime" value="{{ i }}h" required>
                                                        <label for="10heure">{{ i }}h</label><br>
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6" style="background-color: #FAAA80">
                                Notification
                                <i class="bi bi-bell-fill float-end"></i></div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush mx-n2">
                                    <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <h6 class="mb-0">Nouvelles</h6>
                                            <small>Nouveaux services proposés par cet établissement</small>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch">
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <h6 class="mb-0">Newsletter</h6>
                                            <small>Rester branché sur l'actualité de cet établissement.</small>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header fw-bolder h6">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <h4>{{ establishment.name }} </h4>
                                        {% if establishment.opening == 'closed' %}
                                            <h5>
                                                <span class="badge rounded-pill bg-danger"> Fermé - ouvre à 10h00</span>
                                            </h5>
                                        {% else %}
                                            <h6>
                                                <span class="badge rounded-pill bg-success"> Ouvert aujourd'hui</span>
                                            </h6>
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        <a class="pull-right"><img title="profile image" width="80" height="80"
                                                                   class="rounded-circle p-1"
                                                                   src="https://i.pinimg.com/originals/a9/cd/dd/a9cddd579baa47976d2d60dc180fa86f.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="mb-3"><i class="bi bi-geo-alt-fill"
                                                    style="color: #c21a1a"></i> {{ establishment.address }}
                                </h6>
                                <div class="mb-3">
                                    <small class="mb-4"><i class="bi bi-telephone-fill" style="color: #3d5bc9"></i> 07
                                        89 89 25 14</small>
                                </div>
                                <div class="mb-3">
                                    <small class="mb-4"><i class="bi bi-clock-fill" style="color: #051246"></i>
                                        {{ servicetype.time }}min</small>
                                </div>
                                <div class="mb-3">
                                    <small class="mb-4"><i class="bi bi-cash-stack" style="color: #14860e"></i>
                                        {{ servicetype.price }} {{ 'EUR'|currency_symbol }}</small>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-dark" type="submit">Validez le RDV →
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}







