{% extends 'base.html.twig' %}

{% block title %}Confort Zone | RDV détails{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .custom-radio-input {
            position: absolute;
            opacity: 0;
        }

        .custom-radio-input-date {
            position: absolute;
            opacity: 0;
        }

        .custom-active-label {
            background-color: #FAAA80;
            /*color: #your-active-text-color;*/
            /* Autres styles personnalisés pour l'état actif */
        }

        /* CSS personnalisé pour l'état inactif */
        .custom-inactive-label {
            background-color: transparent;
            border: 2px solid #f5d0bb;
            /*background-color: #your-inactive-color;*/
            /*color: #your-inactive-text-color;*/
            /* Autres styles personnalisés pour l'état inactif */
        }
    </style>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="container mt-4 min-vh-100">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
                <h2 class="h5 mb-3 mb-lg-0">Complétez votre rendez-vous</h2>
            </div>
            <form method="post"
                  action="{{ path('add_to_cart', {'id': establishment.id, 'slugservicetype': servicetype.slug, 'slugservice': servicetype.service.slug}) }}">
                <!-- Main content -->
                <div class="row">
                    <!-- Right side -->
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6 main-color-background">
                                Collaborateur
                                <i class="bi bi-person float-end"></i></div>
                            <div class="card-body">
                                <select class="form-select" aria-label="Default select example" name="rdvCollab"
                                        id="firstRequiredField" required>
                                    <option value="Sans préférence" selected>Sans préférence</option>
                                    <option value="Aymane">Aymane</option>
                                    <option value="Laure">Laure</option>
                                </select>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6 main-color-background"> </i>
                                Date<i
                                        class="bi bi-calendar4-week float-end"></i></div>
                            <div class="card-body">
                                <div id="carouselExampleControls" class="carousel slide">
                                    <div class="carousel-inner">
                                        {% for chunk in dateOfYear|batch(5) %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                <div class="d-flex flex-column align-items-center">
                                                    {% for date in chunk %}
                                                        <div class="d-grid gap-2 col-6 mx-auto">
                                                            <label class="custom-radio-label-date btn custom-inactive-label mb-2"
                                                            >
                                                                <input class="custom-radio-input-date" type="radio"
                                                                       name="rdvDate" id="day{{ date|date('l d F') }}"
                                                                       value="{{ date|date('l d F') }}"
                                                                >
                                                                {{ date|date('l d F')|format_datetime('full', 'none', locale='en')|capitalize }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon btn btn-secondary"
                                              aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon btn btn-secondary"
                                              aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Notification settings -->
                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6 main-color-background">Horaire
                                <i
                                        class="bi bi-clock float-end"></i></div>
                            <div class="card-body">
                                <div class="row row-cols-xl-3 justify-content-center">
                                    {% for s in timeopen %}
                                        {% for i in 0..22 %}
                                            {% if i >= (s.time) %}
                                                <div class="col-6">
                                                    <label class="custom-radio-label btn custom-inactive-label mb-2">
                                                        <input class="custom-radio-input" type="radio" id="time{{ i }}"
                                                               name="rdvTime" value="{{ i }}h" required>
                                                        {{ i }}h<br>
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">

                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6 main-color-background">
                                Musique
                                <i class="bi bi-music-note-beamed float-end"></i>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <!-- Column for the image, occupying 8/12 of the available width on medium and larger screens -->
                                        <img src="{{ asset('img/image_music_logo.jpg') }}"
                                             class="img-fluid rounded-3 shadow-sm w-100 h-100 object-fit-cover object-position-center"
                                             alt="Image">
                                    </div>
                                    <div class="col">
                                        <!-- Column for the text, occupying 4/12 of the available width on medium and larger screens -->
                                        <h6 class="mb-3">Écoutez votre musique préférée lors de votre visite chez cet
                                            établissement</h6>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                           id="flexRadioDefault1" value="Playlist insérée" required>
                                                    <label class="form-check-label d-flex justify-content-between align-items-center"
                                                           for="flexRadioDefault1">
                                                        <small>Insérer ma playlist</small>
                                                        <i class="bi bi-music-note-list"></i>
                                                    </label>
                                                    <!-- Bloc de saisie de la playlist -->
                                                    <div class="mt-2">
                                                        <small class="fs-6 text-secondary d-none" id="playlistLabel">Ajoutez
                                                            votre playlist ci-dessous :</small>
                                                        <div class="input-group mb-3 mt-1 d-none">
                                                            <input type="text" class="form-control"
                                                                   placeholder="Lien playlist"
                                                                   aria-label="Playlist link"
                                                                   aria-describedby="button-addon2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                           id="flexRadioDefault2"
                                                           value="Choisir par défaut XSCAPE de Michael Jackson">
                                                    <label class="form-check-label d-flex justify-content-between align-items-center"
                                                           for="flexRadioDefault2">
                                                        <small>Choisir par défaut XSCAPE de Michael Jackson</small>
                                                        <i class="bi bi-play-fill"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                           id="flexRadioDefault3" value="Je n'ai pas de préférence">
                                                    <label class="form-check-label d-flex justify-content-between align-items-center"
                                                           for="flexRadioDefault3">
                                                        <small>Je n'ai pas de préférence</small>
                                                        <i class="bi bi-music-player-fill"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                           id="flexRadioDefault4"
                                                           value="Je ne souhaite pas écouter de la musique">
                                                    <label class="form-check-label d-flex justify-content-between align-items-center"
                                                           for="flexRadioDefault4">
                                                        <small>Je ne souhaite pas écouter de la musique</small>
                                                        <i class="bi bi-volume-mute-fill"></i>
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="col-12 mb-3 mt-5 gap-4">
                                                <img src="https://img.freepik.com/icones-gratuites/youtube_318-183441.jpg?w=360"
                                                     alt="Youtube" width="30" height="30">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png"
                                                     alt="Spotify" width="30" height="30">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Apple_Music_icon.svg/2048px-Apple_Music_icon.svg.png"
                                                     alt="AppleMusic" width="30" height="30">
                                                <img src="https://boost.latelierdecedric.com/wp-content/uploads/2017/12/deezer-logo-circle.png"
                                                     alt="Deezer" width="30" height="30">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header fw-bolder text-white h6 main-color-background">
                                Notification
                                <i class="bi bi-bell-fill float-end"></i></div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush mx-n2">
                                    <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <h6 class="mb-0">Nouvelles</h6>
                                            <small>Nouveaux services proposés par cet établissement</small>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch">
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <h6 class="mb-0">Newsletter</h6>
                                            <small>Rester branché sur l'actualité de cet établissement.</small>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                            >
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header h6">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <h4>{{ establishment.name }} </h4>
                                        <button class="btn btn-link btn-sm main-color" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#detailsEstablishment2Collapse"
                                                aria-expanded="false">
                                            Voir plus
                                        </button>
                                        <!-- Paragraphe de détails (initiallement caché) -->
                                        <div class="collapse mt-2" id="detailsEstablishment2Collapse">
                                            <p class="text-muted mb-1">
                                                <i class="bi bi-geo-alt-fill main-color"></i> 0 avenue d'opéra
                                            </p>
                                            <p class="text-muted mb-1">
                                                <i class="bi bi-telephone"></i>
                                                07 11 11 11 11
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <a class="pull-right"><img title="profile image" width="80" height="80"
                                                                   class="rounded-circle p-1"
                                                                   src="https://i.pinimg.com/originals/a9/cd/dd/a9cddd579baa47976d2d60dc180fa86f.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <h6><i class="bi bi-arrow-right-short"></i>
                                        {{ servicetype.name }}</h6>
                                </div>
                                <div class="mb-3">
                                    <h6><i class="bi bi-clock-history"></i>
                                        {{ servicetype.time }} min</h6>
                                </div>
                                <div class="mb-3">
                                    <h6><i class="bi bi-cash-stack" style="color: #14860e"></i>
                                        {{ servicetype.price }} {{ 'EUR'|currency_symbol }}</h6>
                                </div>


                                <div class="d-flex justify-content-end gap-3">
                                    <div class="btn-group dropup" role="group">
                                        <button type="button"
                                                class="btn btn-outline-secondary btn-sm btn-icon-text dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-pencil"></i> Modifier
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('establishments') }}">Etablissement</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   href="{{ path('establishment_details', {'slugestablishment': establishment.slug }) }}">
                                                    Service</a></li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-dark" type="submit" onclick="scrollToFirstRequiredField()">
                                        Validez le RDV →
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function scrollToFirstRequiredField() {
            // Get the first required input field (or any element with the "required" attribute)
            var firstRequiredField = document.getElementById("firstRequiredField");

            // Scroll to the first required field
            firstRequiredField.scrollIntoView({
                behavior: "smooth",
                block: "start"
            });
        }

        const radioButtons = document.querySelectorAll('input[name="flexRadioDefault"]');
        radioButtons.forEach(button => {
            button.addEventListener('change', handleRadioButtonChange);
        });

        // Fonction pour gérer le changement de sélection des boutons radio
        function handleRadioButtonChange(event) {
            const playlistLabel = document.getElementById('playlistLabel');
            const playlistInput = document.querySelector('.input-group');

            // Masquer le bloc de saisie de la playlist
            playlistLabel.classList.add('d-none');
            playlistInput.classList.add('d-none');

            // Vérifier si le premier bouton radio est sélectionné
            const firstRadioButton = document.getElementById('flexRadioDefault1');
            if (firstRadioButton.checked) {
                // Afficher le bloc de saisie de la playlist uniquement pour le premier bouton radio
                playlistLabel.classList.remove('d-none');
                playlistInput.classList.remove('d-none');
            }
        }


        document.addEventListener("DOMContentLoaded", function () {
            const radioInputs = document.querySelectorAll(".custom-radio-input");

            radioInputs.forEach(function (radioInput) {
                radioInput.addEventListener("change", function () {
                    // Réinitialisez la classe de tous les labels à custom-inactive-label
                    document.querySelectorAll(".custom-radio-label").forEach(function (label) {
                        label.classList.remove("custom-active-label");
                        label.classList.add("custom-inactive-label");
                    });

                    // Mettez à jour la classe du label du radio actuel en custom-active-label
                    const label = this.closest(".custom-radio-label");
                    label.classList.remove("custom-inactive-label");
                    label.classList.add("custom-active-label");
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const radioInputs = document.querySelectorAll(".custom-radio-input-date");

            radioInputs.forEach(function (radioInput) {
                radioInput.addEventListener("change", function () {
                    // Réinitialisez la classe de tous les labels à custom-inactive-label
                    document.querySelectorAll(".custom-radio-label-date").forEach(function (label) {
                        label.classList.remove("custom-active-label");
                        label.classList.add("custom-inactive-label");
                    });

                    // Mettez à jour la classe du label du radio actuel en custom-active-label
                    const label = this.closest(".custom-radio-label-date");
                    label.classList.remove("custom-inactive-label");
                    label.classList.add("custom-active-label");
                });
            });
        });

    </script>


{% endblock %}







