<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('img/logo.png') }}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Confort Zone
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('establishments') }}">Établissements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_etablissement_pricing') }}">Ajouter un établissement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cart') }}"> Mon rendez-vous
                        {% if app.session.get('cart') %}<i class="bi bi-calendar-check"
                                                           style="color: #3fc535"></i> {% endif %}</a>
                </li>
            </ul>
            <div class="navbar-nav nav-item dropdown">
                {% if app.user %}
                <a class="nav-link dropdown-toggle pe-2 p-0" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('img/profil.png') }}" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{{ path('profil_settings') }}"><i class="bi bi-gear"></i>
                        Paramètres</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=" {{ path('app_logout') }}"><i class="bi bi-door-open"></i>
                        Se déconnecter</a>
                </div>
                {% else %}
                <a class="nav-link" href="{{ path('app_register') }}"> Inscription</a>
                <a class="nav-link" href="{{ path('app_login') }}"> Connexion</a>
                    {% endif %}
            </div>
        </div>
    </div>
</nav>