{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 min-vh-100">
        <h5 class="mb-3"><i class="bi bi-gear"></i> Paramètres</h5>
        <span {{ stimulus_controller('symfony/ux-typed', {
            strings: [
                'I ❤️ Confort Zone!',
                'Confort Zone is the best website ever',
                'I love this website',
                'Confort Zone forever ❤',
                'Get your RDV',
            ],
            loop: true,
            showCursor: true,
            cursorChar: '✨',
        }) }}></span>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ asset('img/profil.png') }}" alt="Admin"
                                 class="rounded-circle p-1" width="110">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><p
                                        class="text-danger text-sm"><small>Modifier</small></p></a>
                            <div>
                                <h4>{{ app.user.firstName }} {{ app.user.lastName|upper }}</h4>
                                <p class="text-secondary mb-1">Membre depuis: {{ app.user.createdAt|date("Y") }}</p>
                                <p class="text-muted font-size-sm">Adminstrateur</p>
                                <button class="btn btn-outline-danger shadow-sm" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Supprimer ce compte
                                </button>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-auto">
                                <h5 class="d-flex align-items-center mb-3">
                                    Mes établissements : {{ app.user.establishments|length }}</h5>
                            </div>
                            <div class="col">
                                <i class="bi bi-shop float-end"></i>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for establishment in app.user.establishments %}
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0 text-success">
                                        {{ establishment.name }}
                                    </h6>
                                    <a type="submit" class="btn btn-outline-success btn-sm shadow-sm float-end"
                                       href="{{ path('establishment_details', {'slugestablishment': establishment.slug}) }}">
                                        <i class="bi bi-eye"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.lastName }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prénom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.firstName }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.email }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.phoneNumber }}
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning px-4 shadow-sm float-end" value="Modifier"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-pencil-fill"></i> Modifier
                        </button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <h5 class="d-flex align-items-center mb-2">
                                            Mes rendez-vous : 2</h5>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <i class="bi bi-calendar-week float-end"></i>
                                    </div>
                                </div>

                                {% if cart | length > 0 %}
                                    {% for item in cart %}
                                        <p class="text-muted font-size-sm d-inline ">Vous avez un RDV à valider
                                            <a type="submit" href="{{ path('cart') }}" class="btn btn-link btn-sm"
                                               style="color: #FAAA80"> (voir)</a></p>
                                    {% endfor %}
                                {% endif %}

                                <div class="accordion mt-2" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" aria-expanded="false"
                                                    data-bs-target="#collapseOne"
                                                    aria-controls="collapseOne">
                                                Soin de visage
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Etablissement</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>Etablissement-3</h6>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Date</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>03/02/2023</h6>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Tarifs</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>{{ '38'|format_currency('EUR') }}</h6>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Payement</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>Espèce</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                Massage
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Etablissement</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>Etablissement-1</h6>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Date</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>01/01/2023</h6>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Tarifs</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>{{ '49'|format_currency('EUR') }}</h6>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h6 class="mb-0">Payement</h6>
                                                    </div>
                                                    <div class="col-6 text-secondary">
                                                        <h6>Carte bancaire</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-sm-12">
                        <div class="accordion" id="listLikedEstablishments">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" aria-expanded="false"
                                            data-bs-target="#collapseOne"
                                            aria-controls="collapseOne">
                                        <h5> <i class="bi bi-heart-fill" style="color: red"></i></i> Etablissements favorites : 2</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     data-bs-parent="#listLikedEstablishments">
                                    <div class="accordion-body">
                                        <div class="row">
                                            {% for establishment in app.user.establishments %}
                                            <ul class="list-group list-group-flush mx-n2">
                                                <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <h6 class="mb-0">{{ establishment.name }}</h6>
                                                    </div>
                                                        <a title="Voir" type="submit" class="btn btn-outline-success btn-sm shadow-sm float-end me-2"
                                                           href="{{ path('establishment_details', {'slugestablishment': establishment.slug}) }}">
                                                            <i class="bi bi-eye"></i></a>
                                                    <a title="Supprimer" type="submit" class="btn btn-outline-danger btn-sm shadow-sm float-end">
                                                        <i class="bi bi-trash"></i></a>
                                                </li>
                                            </ul>
                                            {% endfor %}
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                             aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                            Fonctionnalité en cours de dev</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <h5 class="d-flex align-items-center mb-3">
                                            Mes newsletters : 2</h5>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <i class="bi bi-bell-fill"></i>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush mx-n2">
                                    <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <h6 class="mb-0">Etablissement 1</h6>
                                            <small>Comment avoir une belle peau.</small>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch">
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <h6 class="mb-0">Etablissement 2</h6>
                                            <small>Prendre soin de soi.</small>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input " type="checkbox" role="switch"
                                                   checked="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Fonctionnalité en cours de dev</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
